<p id="notice"><%= notice %></p>

<h1>Listing Stack Word Trees</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stack_word_trees.each do |stack_word_tree| %>
      <tr>
        <td><%= link_to 'Show', stack_word_tree %></td>
        <td><%= link_to 'Edit', edit_stack_word_tree_path(stack_word_tree) %></td>
        <td><%= link_to 'Destroy', stack_word_tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stack word tree', new_stack_word_tree_path %>
