<% if @stack_word_trees.any? %>
    <h1>Stack Word Trees</h1>
<% else %>
    <h1>No Stack Word Trees Available</h1>
<% end %>

<% @stack_word_trees.each do |stack_word_tree| %>
    <div class="well">
      <h3>My <%= stack_word_tree.name %></h3>
      <div class="tree-<%= stack_word_tree.id %>"></div>
      <%= link_to 'View Tree Details', stack_word_tree_path(stack_word_tree), class: "btn btn-default" %>
      <%= link_to 'Remove Tree', stack_word_tree, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>

    <script>
      var treeData = <%= create_json_tree(stack_word_tree).to_json.html_safe %>;
      adgear.ui.stackWordTree.drawStackWordTree(".tree-<%= stack_word_tree.id.to_s %>", treeData);
    </script>
<% end %>



