<!DOCTYPE html>
<html>
  <head>
    <title>StackedWordTree</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/nav" %>
    <%= render 'shared/flash_message' %>
    <%= render 'shared/header' %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
      <%= render "shared/footer" %>

    </div>
  </body>
</html>
