<!DOCTYPE html>
<html>
  <head>
    <title>StackedWordTree</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "shared/nav" %>

    <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for(type) %> fade in">
          <button class="close" data-dismiss="alert">×</button>
          <%= message %>
        </div>
    <% end %>

    <div class="jumbotron">
      <div class="container">
        <h1>Awesome Stacked WordTree!</h1>
        <p>Go ahead, upload a file and let our super AI figure out what the
          longest word containing a stacked tree is in your file.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
      <%= render "shared/footer" %>

    </div>
  </body>
</html>
